@use '../variables';
@use '../typography';
@use '../components';
@use '../utils';

.list {
  width: 100%;
  margin-inline: 1rem;

  header {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;

    button {
      color: variables.$color-zinc-400;

      span {
        @include utils.sr-only;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      h1 {
        @include typography.heading();
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .task {
    @include components.task;
  }
}
