@use '../components';
@use '../utils';

.list {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .task a {
    @include components.task;
  }

  #open-add-task-modal {
    @include components.button($type: 'icon');
    position: absolute;
    right: 0;
    bottom: 1rem;

    @include utils.breakpoint('md') {
      right: 1rem;
    }
  }
}
