@use '../variables';
@use '../typography';
@use '../components';
@use '../utils';

.list {
  position: relative;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden scroll;
    padding-inline: 1rem;

    .separator {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      div {
        width: 100%;
        height: 1px;
        background-color: variables.$color-zinc-200;
      }

      p {
        @include typography.small;
        color: variables.$color-zinc-600;
      }
    }

    .task a {
      @include components.task;
    }
  }

  .empty {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      @include typography.medium(700);
    }

    div {
      @include typography.small;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      color: variables.$color-zinc-600;
    }
  }

  #open-add-task-modal {
    @include components.button($type: 'icon');
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    @include utils.breakpoint('md') {
      right: 2rem;
      bottom: 4rem;
    }

    span {
      @include utils.sr-only;
    }
  }
}
