@use 'variables';
@use 'typography';
@use 'utils';

@mixin menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin input($type: 'default') {
  @if $type == 'invisible' {
    border: 0;
    background-color: transparent;
  } @else {
    padding: 0.5rem 1rem;
    background-color: variables.$color-white;
    border: 1px solid variables.$color-zinc-200;
    border-radius: 0.5rem;
  }

  @include typography.medium;

  &::placeholder {
    color: variables.$color-zinc-400;
  }
}

@mixin form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: variables.$color-zinc-800;

  label {
    @include typography.medium(700);
    margin-inline: 0.25rem;
  }

  input {
    @include input;
  }
}

@mixin button($variant: 'primary', $type: 'label') {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color variables.$transition;

  @if $variant == 'primary' {
    @if $type == 'label' {
      padding: 0.5rem 1.5rem;
    } @else if $type == 'icon' {
      padding: 0.75rem;
    }

    @include typography.medium(700);
    border-radius: 999px;
    background-color: variables.$color-primary;
    color: variables.$color-white;

    &:hover {
      background-color: variables.$color-primary-darker;
    }
  } @else if $variant == 'tertiary' {
    @if $type == 'label' {
      padding: 0.25rem 0.5rem;
    } @else if $type == 'icon' {
      padding: 0.25rem;
    }

    @include typography.small;
    border-radius: 0.25rem;
    background-color: transparent;
    color: variables.$color-zinc-600;

    &:hover {
      background-color: variables.$color-zinc-100;
    }
  }
}

@mixin tag {
  padding-inline: 0.25rem;
  border-radius: 0.25rem;
  background-color: variables.$color-zinc-200;
  color: variables.$color-zinc-600;
}

@mixin task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .text {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      time {
        @include tag;
        @include typography.tiny;
      }

      h2 {
        @include typography.medium;
      }

      span {
        @include typography.tiny;
        color: variables.$color-zinc-400;
      }
    }
  }

  .checkbox {
    position: relative;

    label {
      @include utils.sr-only;
    }

    input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      border: 1px solid variables.$color-zinc-200;
      border-radius: 0.25rem;
      background-color: variables.$color-white;
      appearance: none;
      cursor: pointer;

      &:checked {
        background-color: variables.$color-success;
        border-color: variables.$color-success;

        & ~ svg {
          transform: scale(1) translate(-50%, -50%);
        }
      }
    }

    svg {
      color: variables.$color-white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: scale(0) translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .deadline {
    @include typography.tiny;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    span {
      @include utils.sr-only;
    }

    time,
    svg {
      color: variables.$color-danger;
    }
  }
}
