@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

img,
picture,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

:focus,
:focus-visible {
  border-radius: 4px;
  outline: 2px solid #5da4f5;
  outline-offset: 1px;
}

body {
  display: flex;
  background-color: #fafafa;
  color: #27272a;
  font-family: "Albert Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

aside {
  display: none;
  flex-grow: 1;
  padding-top: 6rem;
}
@media (min-width: 768px) {
  aside {
    display: block;
    max-width: 20rem;
    width: 100%;
    border-right: 1px solid #e4e4e7;
  }
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
aside .static-menu-items,
aside .dynamic-menu-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-inline: 1rem;
}
aside .separator {
  width: calc(100% - 2rem);
  height: 1px;
  margin-inline: 1rem;
  background-color: #e4e4e7;
}
@media (min-width: 768px) {
  aside .separator {
    width: 100%;
    margin: 0;
  }
}
aside .menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
aside .menu-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
@media (min-width: 768px) {
  .header {
    padding-block: 0;
  }
}
.header button {
  color: #a1a1aa;
}
.header button span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
@media (min-width: 768px) {
  .header button {
    display: none;
  }
}
.header div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header div h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.error {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #27272a;
  border-radius: 0.75rem;
  background-color: #fff;
  color: #27272a;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(39, 39, 42, 0.0784313725);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.overlay.hidden {
  display: none;
}
.overlay.visible {
  display: block;
}

.modal {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .modal {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}
.modal.hidden {
  display: none;
}
.modal.visible {
  display: flex;
}
.modal form {
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  min-height: 16rem;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .modal form {
    border-radius: 1.5rem;
    max-width: 32rem;
    width: 100%;
  }
}

.task-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task-modal form label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.task-modal form .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}
.task-modal form .content input,
.task-modal form .content textarea {
  border: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}
.task-modal form .content input::-moz-placeholder, .task-modal form .content textarea::-moz-placeholder {
  color: #a1a1aa;
}
.task-modal form .content input::placeholder,
.task-modal form .content textarea::placeholder {
  color: #a1a1aa;
}
.task-modal form .content textarea[name=note] {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 100%;
  resize: none;
}
.task-modal form .content div:last-of-type {
  flex-grow: 1;
}
.task-modal form .tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
}
.task-modal form .tools .options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: scroll;
}
.task-modal form .tools .options button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.25rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #53535b;
  padding-inline: 0.5rem;
  height: 2rem;
  color: #a1a1aa;
}
.task-modal form .tools .options button:hover {
  background-color: #f4f4f5;
}
.task-modal form .tools .options button span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #27272a;
}
.task-modal form .tools .options button span.hidden {
  display: none;
}
.task-modal form .tools .options button span.visible {
  display: inline;
}
.task-modal form .tools .options button svg .fill {
  display: none;
}
.task-modal form .tools .options .dropdown,
.task-modal form .tools .options .date-picker {
  position: relative;
}
.task-modal form .tools .options .dropdown select,
.task-modal form .tools .options .dropdown input,
.task-modal form .tools .options .date-picker select,
.task-modal form .tools .options .date-picker input {
  opacity: 0;
  position: absolute;
  inset: 0;
  border: none;
  cursor: pointer;
}
.task-modal form .tools .options .dropdown select:hover ~ button,
.task-modal form .tools .options .dropdown input:hover ~ button,
.task-modal form .tools .options .date-picker select:hover ~ button,
.task-modal form .tools .options .date-picker input:hover ~ button {
  background-color: #f4f4f5;
}
.task-modal form .tools .options .dropdown input::-webkit-calendar-picker-indicator,
.task-modal form .tools .options .date-picker input::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.task-modal form .tools button[type=submit] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.75rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 999px;
  background-color: #2837fa;
  color: #fff;
}
.task-modal form .tools button[type=submit]:hover {
  background-color: #1d29cb;
}
.task-modal form .tools button[type=submit] span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.auth {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 1rem 1rem;
}
.auth section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  width: 100%;
}
.auth h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}
.auth form {
  display: flex;
  flex-direction: column;
}
.auth form div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #27272a;
}
.auth form div label {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-inline: 0.25rem;
}
.auth form div input {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.auth form div input::-moz-placeholder {
  color: #a1a1aa;
}
.auth form div input::placeholder {
  color: #a1a1aa;
}
.auth form div ~ div {
  margin-top: 1rem;
}
.auth form button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.5rem 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 999px;
  background-color: #2837fa;
  color: #fff;
  margin-top: 1.5rem;
}
.auth form button:hover {
  background-color: #1d29cb;
}
.auth a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.25rem 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #53535b;
}
.auth a:hover {
  background-color: #f4f4f5;
}

.list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: 1rem;
}
@media (min-width: 1024px) {
  .list {
    margin-inline: 4rem;
  }
}
.list > div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 64rem;
  width: 100%;
}
@media (min-width: 768px) {
  .list > div {
    gap: 2rem;
    margin-block: 5rem;
  }
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list .task a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem 0.25rem;
  border-radius: 0.5rem;
}
.list .task a:hover {
  background-color: #f4f4f5;
}
.list .task a .main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list .task a .main .text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.list .task a .main .text time {
  padding-inline: 0.25rem;
  border-radius: 0.25rem;
  background-color: #e4e4e7;
  color: #53535b;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}
.list .task a .main .text h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.list .task a .main .text span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #a1a1aa;
}
.list .task a .checkbox {
  position: relative;
}
.list .task a .checkbox label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.list .task a .checkbox input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border: 1px solid #e4e4e7;
  border-radius: 0.25rem;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.list .task a .checkbox input:checked {
  background-color: #74c476;
  border-color: #74c476;
}
.list .task a .checkbox input:checked ~ svg {
  transform: scale(1) translate(-50%, -50%);
}
.list .task a .checkbox svg {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0) translate(-50%, -50%);
  pointer-events: none;
}
.list .task a .deadline {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.list .task a .deadline span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.list .task a .deadline time,
.list .task a .deadline svg {
  color: #e71d36;
}
.list #open-add-task-modal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0.75rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 999px;
  background-color: #2837fa;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.list #open-add-task-modal:hover {
  background-color: #1d29cb;
}
@media (min-width: 768px) {
  .list #open-add-task-modal {
    right: 1rem;
  }
}/*# sourceMappingURL=style.css.map */